<h1>Welcome to Super Rentals</h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

{{filter-listing filteredList=filteredList 
autoComplete=(action 'autoComplete') search=(action 'search')}}

<ul>
	{{#each model as |rentalUnit|}}
	  <li>{{rental-listing rental=rentalUnit}}</li>
	{{/each}}
</ul>

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Click here to contact us.{{/link-to}}

{{outlet}}
